<style>
    .head-panel {
    height: 7.5vh;
    display: flex;
    align-items: center;
    background-color: white;
    }

    .head-logo {
    height: 80%;
    margin: 0 2% 0 1%;
    cursor: pointer;
    }

    button {
    width: 7.5%;
    height: 100%;
    background-color: white;
    font-size: 1vw;
    font-weight: 500;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s
    }

    button:hover {
    background-color: #f0f0f0;
    }

    .profile-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }

    .picture-container {
    display: flex;
    height: 7.5vh;
    margin: 0 1% 0 0;
    align-items: center;
    justify-content: center;
    position: relative;
    }

    .profile-picture {
    height: 5vh;
    cursor: pointer;
    }

    .profile-menu {
    padding: 0.2vw;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.2vw;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    z-index: 100
    }

    .profile-menu button {
    display: block;
    width: 100%;
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0.6vw 1vw 0.6vw 0.6vw;
    text-align: start;
    cursor: pointer;
    transition: 0.1s
    }

    .profile-menu button:hover {
    background-color: #f0f0f0;
    }

    .profile-name {
    margin: 0 10% 0 0;
    font-size: 1.1vw;
    font-weight: 600
    }

</style>

<div class="head-panel">
    <img class="head-logo" @onclick="toCentralPage" src="images/RT-logo.jpg">
    <button @onclick="toCentralPage">Главная</button>
    <button @onclick="toCoursesOrTeam">@((UserContext.status == "Employee") ? "Мои курсы" : "Команда")</button>
    @if (UserContext.status == "Employee")
    {
        <button @onclick="toStats">@((UserContext.status == "Employee") ? "Статистика" : "Курсы")</button>
    }
    <div class="profile-link">
        <div class="picture-container">
            <img class="profile-picture" src="@((UserContext.gender == "M") ? "images/male-icon.png" : "images/female-icon.png")" @onclick="openProfileMenu">
            @if(isMenuVisible)
            {
                <div class="profile-menu">
                    <button @onclick="showProfilePopup">Профиль</button>
                    <button @onclick="quit">Выйти</button>
                </div>
            }
        </div>
        <p class="profile-name">@UserContext.firstName</p>
    </div>
</div>
<ProfilePopup IsVisible="@isProfileVisible" IsVisibleChanged="@ProfileVisibility" />
@code {
    private bool isMenuVisible = false;
    private bool isProfileVisible = false;

    private void toCentralPage()
    {
        NavManager.NavigateTo("Central", forceLoad: true);
    }

    private void toCoursesOrTeam()
    {
        if (UserContext.status == "Employee") NavManager.NavigateTo("Forme");
        else NavManager.NavigateTo("Team");
    }

    private void toStats()
    {
        NavManager.NavigateTo("Stats");
    }

    private void openProfileMenu()
    {
        isMenuVisible = !isMenuVisible;
        isProfileVisible = false;
    }

    private void showProfilePopup()
    {
        isMenuVisible = false;
        isProfileVisible = true;
    }

    private void ProfileVisibility(bool isVisible)
    {
        isProfileVisible = isVisible;
    }

    private void quit()
    {
        NavManager.NavigateTo("/");
    }
}